<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/create">Create Employee</a>
        <a class="active" href="/payrates">Pay Rates</a>
    </div>

    <table>
        <tr>
            <th>BENEFIT_PLANS_ID</th>
            <th>PLAN_NAME</th>
            <th>DEDUCTABLE</th>
            <th>PERCENTAGE_COPAY</th>
            <th>Action</th>

        </tr>

        <% List_payrate.forEach(function(payrates){ %>
            <tr>
                <td>
                    <%= payrates['BENEFIT_PLANS_ID'] %>
                </td>
                <td>
                    <%= payrates['PLAN_NAME'] %>
                </td>
                <td>
                    <%= payrates.DEDUCTABLE %>
                </td>
                <td>
                    <%= payrates['PERCENTAGE_COPAY'] %>
                </td>

                <td>
                    <form action="/update_benefit/<%= payrates['BENEFIT_PLANS_ID'] %>" method="post">
                        <button>update</button>
                    </form>
                    <!-- <button>update</button> -->
                </td>
            </tr>

            <%});%>


    </table>


</body>

</html>