<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/create">Create Employee</a>
        <a href="/payrates">Pay Rates</a>
    </div>

    <table>
        <tr>
            <th>PERSONAL_ID</th>
            <th>CURRENT_FIRST_NAME</th>
            <th>CURRENT_LAST_NAME</th>
            <th>CURRENT_MIDDLE_NAME</th>
            <th>BIRTH_DATE</th>
            <th>SOCIAL_SECURITY_NUMBER</th>
            <th>DRIVERS_LICENSE</th>
            <th>CURRENT_ADDRESS_1</th>
            <th>CURRENT_ADDRESS_2</th>
            <th>CURRENT_CITY</th>
            <th>CURRENT_COUNTRY</th>
            <th>CURRENT_ZIP</th>
            <th>CURRENT_GENDER</th>
            <th>CURRENT_PHONE_NUMBER</th>
            <th>CURRENT_PERSONAL_EMAIL</th>
            <th>CURRENT_MARITAL_STATUS</th>
            <th>ETHNICITY</th>
            <th>SHAREHOLDER_STATUS</th>
            <th>BENEFIT_PLAN_ID</th>
            <th>Acction</th>
        </tr>
        <% personal.forEach(function(Em){ %>
            <tr>
                <td>
                    <%= Em.PERSONAL_ID %>
                </td>
                <td>
                    <%= Em.CURRENT_FIRST_NAME %>
                </td>
                <td>
                    <%= Em.CURRENT_LAST_NAME%>
                </td>
                <td>
                    <%= Em.CURRENT_MIDDLE_NAME %>
                </td>
                <td>
                    <%= Em.BIRTH_DATE %>
                </td>
                <td>
                    <%= Em.SOCIAL_SECURITY_NUMBER %>
                </td>
                <td>
                    <%= Em.DRIVERS_LICENSE %>
                </td>
                <td>
                    <%= Em.CURRENT_ADDRESS_1 %>
                </td>
                <td>
                    <%= Em.CURRENT_ADDRESS_2 %>
                </td>
                <td>
                    <%= Em.CURRENT_CITY %>
                </td>
                <td>
                    <%= Em.CURRENT_COUNTRY %>
                </td>
                <td>
                    <%= Em.CURRENT_ZIP %>
                </td>
                <td>
                    <%= Em.CURRENT_GENDER %>
                </td>
                <td>
                    <%= Em.CURRENT_PHONE_NUMBER %>
                </td>
                <td>
                    <%= Em.CURRENT_PERSONAL_EMAIL %>
                </td>
                <td>
                    <%= Em.CURRENT_MARITAL_STATUS %>
                </td>
                <td>
                    <%= Em.ETHNICITY %>
                </td>
                <td>
                    <%= Em.SHAREHOLDER_STATUS %>
                </td>
                <td>
                    <%= Em.BENEFIT_PLAN_ID %>
                </td>
                <td>
                    <!-- <form action="/update/<%= personal[0].PERSONAL_ID %>" method="post">
                        <button>update</button>
                    </form> -->
                    <button class="update">update</button>
                </td>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="options">
                            <form action="/update_personal/<%= Em.PERSONAL_ID %>" method="post">
                                <button>Personal</button>
                            </form>
                            <form action="/update_employment/<%= Em.PERSONAL_ID %>" method="post">
                                <button>Employment</button>
                            </form>
                            <form action="/update_JobHistory/<%= Em.PERSONAL_ID %>" method="post">
                                <button>Employment Working</button>
                            </form>
                            <form action="/update_employment_working_time/<%= Em.PERSONAL_ID %>" method="post">
                                <button>Job History</button>
                            </form>
                            <form action="/payrates" method="get">
                                <button type="submit">Payrate</button>
                            </form>
                            <form action="/benefitinfo" method="get">
                                <button type="submit">Benefit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    // Get the modal
                    var modal = document.getElementById("myModal");

                    // Get all buttons with class "update"
                    var buttons = document.querySelectorAll("button.update");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When any "update" button is clicked, open the modal 
                    buttons.forEach(function (button) {
                        button.onclick = function () {
                            modal.style.display = "block";
                        }
                    });

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </tr>

            <%});%>


    </table>


</body>

</html>